/* main table style */
table.stylized {
  font-family: Tahoma, Geneva, sans-serif;
  background-color: #DADFF0;
  width: 360px;
  text-align: center;
  border-collapse: collapse;
  margin: 0 10 0 0;
}
table.stylized td, table.stylized th {
  border-bottom: 5px solid #FFFFFF;
  border-right: none;
  border-left: none;
  padding: 10px 10px;
}
table.stylized tbody td {
  font-size: 20px;
  color: #FFFFFF;
}

table.simple {
  font-family: Arial;
  border: 2px solid #FFFFFF;
  border-collapse: collapse;
  width: 300px;
  text-align: center;
  margin-left: 30px;
}
table.simple td {
  font-size: 15px;
  border-left: 1px solid #333333;
  padding: 3px 4px;
}

table.simple th {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  border-left: 2px solid #333333;
  border-bottom: 2px solid #333333;
}
table.simple th:first-child {
  border-left: none;
}

button.stylized, input[type=submit] {
	-webkit-appearance: none;
	box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	background-color:#7080C0;
	border:1px solid #314159;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}

/* user input form */
pre {
	font-family: Tahoma, Geneva, sans-serif;
}

form {
	-webkit-appearance: none;
	font-family: Tahoma, Geneva, sans-serif;
}

input {
	margin-top: 5px;
}

label {
	display:inline-block;
	width:130px;
	margin-right:10px;
	text-align:left;
}

/* Pop-up user input form */
.form-popup {
	display: none;
	position: absolute;
	left: 50px;
	top: 150px;
	border: 3px solid #818181;
	z-index: 9;
	background: #f1f1f1;
}

.form-container input[type=text] {
	width: 150px;
	display: block;
	padding: 5 0 5 0;
	margin: 0 10 10 0;
	border: none;
	background: #ffffff;
}

.form-container input[type=checkbox] {
	width: 20px;
	display: block;
	padding: 5 100 5 0;
	margin-top: 0px; 
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: none;
	background: #ffffff;
}

.form-container label {
	float: left;
	display: inline-block;
	padding: 0 0 0 0;
	margin: 0 0 0 5;
}

.form-container button {
	-webkit-appearance: none;
	box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	background-color:#7080C0;
	border:1px solid #314159;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	margin: 50 30 5 40;
}

/* navigation bar */
.topnav {
	list-style-type: none;
	margin: 0 0 10 0;
	padding: 0;
	overflow: hidden;
	background-color: #405090;
	position: relative;
}

.topnav #navlinks {
	display: none;
}

/*li {
	float: left;
 	border-right: 1px solid #FFFFFF;
}*/

.topnav a {
 	font-family: Tahoma, Geneva, sans-serif;
	display: block;
	color: white;
	text-align: left;
	padding: 14px 16px;
	text-decoration: none;
}

.topnav a.icon {
  background: #7080c0;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.active {
	background-color: #7080c0;
}



/* Loading indicator */
#loader {
	position: absolute;
	left: 110px;
	top: 250px;
	display: none;
	width: 120px;
	height: 120px;
	z-index: 2;
	border: 16px solid #F3F3F3;
	border-top: 16px solid #3498DB;
	border-radius: 50%;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

/* Misc */
#productivity {
	height: 70px;
	width: 100px;
	position: relative;
	left: 5px;
	top: 0px;
	font-family: Tahoma, Geneva, sans-serif;
	color: #405090;
	border: 2px solid #7080c0;
	padding: 10px 10px 0px 10px;
}

#prod_val {
	position: relative;
	left: 40px;
	top: -65px;
	margin-top: 28px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 20pt;
}

#expenses {
	height: 70px;
	width: 195px;
	position: relative;
	left: 140px;
	top: -146px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 10pt;
	color: #405090;
	border: 2px solid #7080c0;
	padding: 10px 10px 0px 10px;
}

#exp_val {
	position:relative;
	left: 200px;
	top: -223px;
	width: 125px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 20pt;
	margin-bottom: -200px;
}

#due_today {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14pt;
}

/* Host statuses */

.lan_status {
	display: flex;
	justify-content: flex-start;
}

.lan_status2 {
	display: flex;
	justify-content: flex-start;
}

.status_circle {
	float: left;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	border: 1px solid black;
	margin-right: 10px;
	margin-top: -3px;
	display: inline-block;
}

.status_host {
	display: block;
}

/* Weather */
#current {
	display:inline-block;
	margin: 0px;
}
