<html>
  <head>
	<title>Productivity Server</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" user-scalable="no" >
  </head>
  <body>
	<div class="topnav">
		<li><a class="active" href="/expenses">Expenses</a></li>
		<div id="navlinks">
			<li><a href="/">Home</a></li>
			<li><a href="/tasks">Tasks</a></li>
			<li><a href="/plants">Plants</a></li>
			<li><a href="/mindfulness">Mindfulness</a></li>
			<li><a href="/stats">Stats</a></li>
			<li><a href="/investments">Investments</a></li>
			<li><a href="/coins">Coins</a></li>
			<li><a href="/logs">Logs</a></li>
		</div>
		<a href="javascript:void(0);" class="icon" onclick="hamburger()">
			<i class="fa fa-bars"></i>
		</a>
	</div>
	<table class="stylized" align="left" id="table" border="1" onClick="handleClick(event);" onMouseOver="handleHover(event);" onMouseOut="handleMouseLeave(event);"></table>
	<form id="myForm" action="#" method="POST" onsubmit="submitNewExp();return false">
		<b><u>Add New Expense</u></b>
		<br>
		<label for="name">Expense Name:</label><input type="text" id="name" name="name" size="15">
		<br>
		<label for="amt">Amount: $</label><input type="text" id="amt" name="amt" size="7">
		<br>
		<label for="due">Due Date (DOM):</label><input type="text" id="due" name="due" size="3">
		<br>
		Autopay:
		<input type="checkbox" id="autopay" name="autopay">
		Variable:
		<input type="checkbox" id="isvar" name="isvar">
		<br>
		<input type="submit" class="myButton" id="tsubmit" value="Submit">
	</form>
	<button type="button" class="stylized" id="undoBtn" onClick="undoLastAction(event);">Undo</button>
	<div class="form-popup" id="confExpense">
		<form class="form-container" id="confExpForm" action="#" method="POST" onsubmit="editExpense();return false">
			<h1>Edit Expense</h1>
			<label for="e_name">Expense Name</label>
			<input type="text" id="e_name" name="e_name">
			<label for="e_amt">Amount ($)</label>
			<input type="text" id="e_amt" name="e_amt">
			<label for="e_due">Due (DOM)</label>
			<input type="text" id="e_due" name="e_due">
			<label for="e_auto">Autopay</label>
			<input type="checkbox" id="e_auto" name="e_auto">
			<label for="e_vari">Variable</label>
			<input type="checkbox" id="e_vari" name="e_vari">

			<button type="submit" class="myButton">Save</button>
			<button type="button" class="myButton" onClick="closeConfForm()">Cancel</button>
		</form>
	</div>

	<img id="confBtn" src="static/images/gear_grey.png" alt="gear.png" width="64" height="64" onClick="configureTracker(event);">
	<br>
	<img src={{ image }} style="max-width:100%;height:auto;" alt="expense plot">
	<pre id="txtarea"><b>Expense Stats</b></pre>
	<script src="static/js/expenses.js"></script>
	<script src="static/js/common.js"></script>
	<script>
		var data = JSON.parse('{{ data | tojson | safe}}');
		var stats = JSON.parse('{{ stats | tojson | safe}}');
		var txt = document.getElementById("txtarea");

		displayStats()
		constructTable('#table', data)
		window.configureMode = false;
		
	</script>
  </body>
</html>
