<html>
  <head>
	<title>Productivity Server</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	<link rel="stylesheet" type="text/css" href="static/css/weather-icons.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" user-scalable="no" >
  </head>
  <body>
	<div class="topnav">
		<li><a class="active" href="/">Home</a></li>
		<div id="navlinks">
			<li><a href="/tasks">Tasks</a></li>
			<li><a href="/expenses">Expenses</a></li>
			<li><a href="/plants">Plants</a></li>
			<li><a href="/stats">Stats</a></li>
			<li><a href="/investments">Investments</a></li>
			<!--<li><a href="/videos">Videos</a></li>-->
			<li><a href="/coins">Coins</a></li>
			<li><a href="/logs">Logs</a></li>
		</div>
		<a href="javascript:void(0);" class="icon" onclick="hamburger()">
			<i class="fa fa-bars"></i>
  		</a>
	</div>
	<pre id="productivity"><b>Productivity</b></pre>
	<a id="prod_val" href="/stats" style="text-decoration:none"><b>0%</b></a>
	<pre id="expenses"><b>Remaining Expenses this Month</b></pre>
	<pre id="exp_val"><b>$0.00</b></pre>
	<!--<a id="due_today" href="/tasks" style="text-decoration:none"><b>Tasks Due Today</b></a>-->
	<pre id="due_today"><b>Tasks Due Today</b></pre>
	<table class="stylized" id="table" border="1" onClick="handleClick(event);"></table>
	<hr>
	<pre id="exp_due_week"><b>Expenses this Week</b></pre>
	<table class="stylized" id="table2" border="1"></table>	
	<hr>
	<pre id="plant_watch"><b>Plant Watch</b></pre>
	<table class="stylized" id="table3" border="1"></table>
	<hr>
	<pre id="lan_status"><b><u>LAN Status</u></b></pre>
	<div id="lan_hosts">Loading...</div>
	<hr>
	<pre id="weather"><b><u>Weather</u></b></pre>
	<i id="currentIcon" style="font-size: 25px;"></i>
	<pre id="current">72F (feels like 72F)</pre>
	<pre id="hourlyLabel"><i>Next 6 hours:</i></pre>
	<table class="simple" id="weatherTbl">
		<tr>
			<th>0</th>
			<th>1</th>
			<th>2</th>
			<th>3</th>
			<th>4</th>
			<th>5</th>
		</tr>
		<tr>
			<td>72F</td>
			<td>72F</td>
			<td>72F</td>
			<td>72F</td>
			<td>72F</td>
			<td>72F</td>
		</tr>
		<tr>
			<td><i id="icon_hr1"></i></td>
			<td><i id="icon_hr2"></i></td>
			<td><i id="icon_hr3"></i></td>
			<td><i id="icon_hr4"></i></td>
			<td><i id="icon_hr5"></i></td>
			<td><i id="icon_hr6"></i></td>
		</tr>
	</table>
	<pre id="sunlight"><b>Sunlight at back window: 00:00 - 23:59</b></pre>
	<div id="loader"></div>
	<script src="static/js/summary.js"></script>
	<script src="static/js/common.js"></script>
	<script>
		var data = JSON.parse('{{ data | tojson | safe}}');
		setTextFromData('prod_val', data["prod"]);
		setTextFromData('exp_val', data["exp"]);
		constructTable('#table', data["tasks"], "Tasks");
		constructTable('#table2', data["expenses"], "Expenses");
		constructTable('#table3', data["plants"], "Plants");

		setWeatherInfo(data["weather"])
		
		document.getElementById('sunlight').innerHTML = "<b>Sunlight at office window: " + data["sunlight"]["start"] + " - " + data["sunlight"]["end"] + "</b>"
		checkLAN();

		this.setInterval(perUpdate, 3600000) // Update summary every hour
		this.setInterval(checkLAN, 600000) // Update LAN status every 10 min
	</script>
  </body>
</html>
