<html>
  <head>
	<title>Productivity Server</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" user-scalable="no" >
  </head>
  <body>
	<div class="topnav">
		<li><a class="active" href="/logs">Logs</a></li>
		<div id="navlinks">
			<li><a href="/">Home</a></li>
			<li><a href="/tasks">Tasks</a></li>
			<li><a href="/expenses">Expenses</a></li>
			<li><a href="/plants">Plants</a></li>
			<li><a href="/mindfulness">Mindfulness</a></li>
			<li><a href="/stats">Stats</a></li>
			<li><a href="/investments">Investments</a></li>
			<li><a href="/coins">Coins</a></li>
		</div>
		<a href="javascript:void(0);" class="icon" onclick="hamburger()">
			<i class="fa fa-bars"></i>
		</a>
	</div>
	<!--<div id="logs">-->
	<pre id="logs">
Time Command Type | [parameters]
	</pre>
	<!--</div>-->
	<script src="static/js/common.js"></script>
	<script>
		var data = JSON.parse('{{ data | tojson | safe}}');
		var list = document.getElementById("logs");
		list.innerHTML = "";
		for (var i=0; i < data.length; i++)
		{
			list.innerHTML += data[i] + "\n";
		}	
	</script>
  </body>
</html>
