<html>
  <head>
    <title>Productivity Server</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" user-scalable="no" >
  </head>
  <body>
	<div class="topnav">
        <li><a class="active" href="/tasks">Tasks</a></li>
        <div id="navlinks">
            <li><a href="/">Home</a></li>
            <li><a href="/expenses">Expenses</a></li>
            <li><a href="/plants">Plants</a></li>
			<li><a href="/stats">Stats</a></li>
			<li><a href="/videos">Videos</a></li>
			<li><a href="/coins">Coins</a></li>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="hamburger()">
            <i class="fa fa-bars"></i>
        </a>
    </div>	
	<table class="stylized" align="left" id="table" border="1" onClick="handleClick(event);"></table>
	<form id="myForm" action="#" method="POST" onsubmit="submitNewTask();return false">
		<b><u>Add New Task</u></b>
		<br>
		<label for="tname">Task Name:</label>
		<input type="text" id="tname" name="tname" size="15">
		<br>
		<label for="tfreq">Frequency:</label>
		<input type="text" id="tfreq" name="tfreq" size="3">
		<br>
		<label for="tcost">Time Cost:</label>
		<input type="text" id="tcost" name="tcost" size="3">
		<br>
		<label for="twt">Weight:</label>
		<input type="text" id="twt" name="twt" size="3">
		<br>
		<input type="submit" class="myButton" id="tsubmit" value="Submit">
	</form>
	<button type="button" class="stylized" id="undoBtn" onClick="undoLastAction(event);">Undo</button>
	<div class="form-popup" id="confTask">
		<form class="form-container" id="confTaskForm" action="#" method="POST" onsubmit="editTask();return false">
			<h1>Edit Task</h1>
			<label for="e_name">Task Name</label>
			<input type="text" id="e_name" name="e_name">
			<label for="e_freq">Frequency</label>
			<input type="text" id="e_freq" name="e_freq">
			<label for="e_cost">Time Cost</label>
			<input type="text" id="e_cost" name="e_cost">
			<label for="e_wt">Weight</label>
			<input type="text" id="e_wt" name="e_wt">
			<label for"e_active">Active</label>
			<input type="checkbox" id="e_active" name="e_active">
		
			<button type="submit" class="myButton" style="margin-left: -90px;">Save</button>
			<button type="button" class="myButton" style="margin-left: 90px;" onClick="closeConfForm()">Cancel</button>
		</form>
	</div>

	<img id="confBtn" src="static/images/gear_grey.png" alt="gear.png" width="64" height="64" onClick="configureTracker(event);">
	<div id="loader"></div>	
	<script src="static/js/tasks.js"></script>
	<script src="static/js/common.js"></script>
	<script>
		var data = JSON.parse('{{ data | tojson | safe}}');
    	constructTable('#table', data);
		window.configureMode = false;
	</script>
  </body>
</html>
